In [1]:
import pandas as pd 
import numpy as np

In [70]:
df=pd.read_csv('attribution_allocation_student_data.csv')
cost = pd.read_csv('channel_spend_student_data.csv',index_col=0)

In [3]:
df

       convert_TF    touch1    touch2    touch3    touch4 touch5  tier
0            True     email  referral  referral       NaN    NaN     1
1            True  referral  referral     email       NaN    NaN     1
2            True  referral       NaN       NaN       NaN    NaN     1
3            True     email       NaN       NaN       NaN    NaN     1
4            True  referral  referral    social  referral    NaN     1
...           ...       ...       ...       ...       ...    ...   ...
68119       False    direct       NaN       NaN       NaN    NaN     3
68120       False    direct     email  referral       NaN    NaN     3
68121       False    direct  referral       NaN       NaN    NaN     3
68122       False     email    direct       NaN       NaN    NaN     3
68123       False    direct  referral    social       NaN    NaN     3

[68124 rows x 7 columns]

In [4]:
df=df[df['convert_TF']==True]

In [5]:
df=df.fillna('')

In [6]:
df_1=df[df['tier']==1]

In [7]:
df1=df_1[['touch1','touch2','touch3','touch4','touch5']]

In [8]:
df_2=df[df['tier']==2]
df2=df_2[['touch1','touch2','touch3','touch4','touch5']]

df_3=df[df['tier']==3]
df3=df_3[['touch1','touch2','touch3','touch4','touch5']]

In [9]:
#df_new=df1.fillna('')

In [10]:
df_list1=df1.values.tolist()
df_list2=df2.values.tolist()
df_list3=df3.values.tolist()

In [13]:
df_list1[:5]

[['email', 'referral', 'referral', '', ''],
 ['referral', 'referral', 'email', '', ''],
 ['referral', '', '', '', ''],
 ['email', '', '', '', ''],
 ['referral', 'referral', 'social', 'referral', '']]

In [14]:
new_list1=[]
for i in df_list1:
    new=list(filter(None,i))
    new_list1.append(new)
new_list1[:5]

[['email', 'referral', 'referral'],
 ['referral', 'referral', 'email'],
 ['referral'],
 ['email'],
 ['referral', 'referral', 'social', 'referral']]

In [15]:
new_list2=[]
for i in df_list2:
    new=list(filter(None,i ))
    new_list2.append(new)

new_list2[:5]

[['referral', 'referral', 'email'],
 ['email', 'referral', 'referral', 'referral', 'display'],
 ['referral', 'email'],
 ['referral', 'referral', 'referral', 'email'],
 ['social', 'referral', 'email']]

In [16]:
new_list3=[]
for i in df_list3:
    new=list(filter(None,i ))
    new_list3.append(new)

new_list3[:5]

[['referral', 'email'],
 ['referral', 'referral', 'email'],
 ['display', 'referral', 'paid_search'],
 ['referral', 'email'],
 ['referral', 'referral', 'referral', 'email']]

In [17]:
general1=[]
for i in new_list1:
    if len(i)==1:
        if i[0] !='direct':
            general1.append(i[0])
    else:
        if i[-1] !='direct':
            general1.append(i[-1])
        else:
            general1.append(i[-2])
general1[:5]

['referral', 'email', 'referral', 'email', 'referral']

In [18]:
general2=[]
for i in new_list2:
    if len(i)==1:
        if i[0] !='direct':
            general2.append(i[0])
    else:
        if i[-1] !='direct':
            general2.append(i[-1])
        else:
            general2.append(i[-2])
general2[:5]

['email', 'display', 'email', 'email', 'email']

In [19]:
general3=[]
for i in new_list3:
    if len(i)==1:
        if i[0] !='direct':
            general3.append(i[0])
    else:
        if i[-1] !='direct':
            general3.append(i[-1])
        else:
            general3.append(i[-2])
general3[:5]

['email', 'email', 'paid_search', 'email', 'email']

In [75]:
dict1= {}
for key in general1:
    dict1[key] = dict1.get(key, 0) + 1

In [76]:
dict2= {}
for key in general2:
    dict2[key] = dict2.get(key, 0) + 1

In [77]:
dict3= {}
for key in general3:
    dict3[key] = dict3.get(key, 0) + 1

In [78]:
print(dict1)
print(dict2)
print(dict3)

{'referral': 1189, 'email': 299, 'social': 622, 'display': 531, 'paid_search': 180, 'organic_search': 2}
{'email': 532, 'display': 824, 'referral': 2124, 'social': 1069, 'paid_search': 340, 'organic_search': 3}
{'email': 686, 'paid_search': 484, 'referral': 2671, 'social': 1257, 'display': 959, 'organic_search': 5}

In [79]:
cost

                                                       0
tier1  {'email': 1000.0, 'social': 1000.0000000000001...
tier2  {'email': 2000.0, 'social': 2000.0, 'display':...
tier3  {'email': 3000.0, 'social': 3000.0, 'display':...

In [80]:
tier1 = eval(cost.loc['tier1','0'])
tier2 = eval(cost.loc['tier2','0'])
tier3 = eval(cost.loc['tier3','0'])

In [81]:
tier1

{'email': 1000.0,
 'social': 1000.0000000000001,
 'display': 1000.0,
 'paid_search': 999.9999999999999,
 'referral': 1000.0,
 'organic_search': 0.0,
 'direct': 0.0}

In [93]:
tier2

{'email': 2000.0,
 'social': 2000.0,
 'display': 2000.0,
 'paid_search': 2000.0,
 'referral': 2000.0,
 'organic_search': 0.0,
 'direct': 0.0}

In [94]:
tier3

{'email': 3000.0,
 'social': 3000.0,
 'display': 3000.0,
 'paid_search': 3000.0,
 'referral': 3000.0,
 'organic_search': 0.0,
 'direct': 0.0}

In [90]:
aver1={}
for k,v in dict1.items():
    if tier1.get(k):
        aver1[k]=round(float(tier1[k]/dict1[k]),3)
print(aver1)

{'referral': 0.841, 'email': 3.344, 'social': 1.608, 'display': 1.883, 'paid_search': 5.556}

In [91]:
aver2={}
for k,v in dict2.items():
    if tier2.get(k):
        aver2[k]=round(float(tier2[k]/dict2[k]),3)
print(aver2)

{'email': 3.759, 'display': 2.427, 'referral': 0.942, 'social': 1.871, 'paid_search': 5.882}

In [92]:
aver3={}
for k,v in dict3.items():
    if tier3.get(k):
        aver3[k]=round(float(tier3[k]/dict3[k]),3)
print(aver3)

{'email': 4.373, 'paid_search': 6.198, 'referral': 1.123, 'social': 2.387, 'display': 3.128}